body{
  margin: 0px;
  padding: 0px;
}

.container{
  width: 500px;
  height: 200px;
  background-color: rgb(243, 217, 185);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
  box-shadow:  5px 5px rgb(115, 110, 110);
}

h1{
  font-weight: bolder;
}

input{
  height: 35px;
  width: 10rem;
  text-align: center;
  font-size: 20px;
  margin-left: 35px;
}

#equal{
  margin-left: 30px;
  font-size: 24px;
}

#inputType, #resultType{
  width: 10rem;
  color: rgb(145, 14, 14);
  margin-left: 35px;

}

#resultType{
  margin-left: 87px;
}